---
import { ViewTransitions } from "astro:transitions";

interface Props {
	title?: string;
	description?: string;
	ogType?: string;
	ogImage?: string;
	notFound?: boolean;
}

const { title, description, ogType = "article", ogImage = "/default-ogp.png", notFound = false } = Astro.props;
const serviceTitle = "Aki Coffee☕";
const pageTitle = title === undefined ? serviceTitle : `${title} ｜ ${serviceTitle}`;
const pageDescription =
	description ??
	"このブログは記事の内容に沿って、AIが背景画像を生成してくれます。書いてて楽しいです。Coffeeに意味はないです。";

const path = Astro.url.pathname.replace(/^\//, "").replace(/\.html$/, "");
---

<!doctype html>
<html lang="ja" transition:animate="fade">
	<head prefix="og: http: ogp.me ns#">
		<!-- Google Tag Manager -->
		<script is:inline>
			// prettier-ignore
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-KP36GT3H');
		</script>
		<!-- End Google Tag Manager -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={pageDescription} />
		<meta name="format-detection" content="email=no,telephone=no,address=no" />
		<meta name="author" content="彩季" />
		<meta property="og:url" content={`https://coffee.aki.wtf/${path}`} />
		<meta property="og:type" content={ogType} />
		<meta property="og:title" content={title ?? serviceTitle} />
		<meta property="og:description" content={pageDescription} />
		<meta property="og:site_name" content="Aki Coffee" />
		<meta property="og:image" content={ogImage} />
		<meta name="twitter:card" content={ogImage === "/default-ogp.png" ? "summary" : "summary_large_image"} />
		<meta name="twitter:site" content="@Akime_Aki" />
		{!notFound && <link rel="canonical" href={`https://coffee.aki.wtf/${path}`} />}
		<link rel="icon" href="/favicon.ico" />
		<title>{pageTitle} - AIが背景画像を生成するブログ</title>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<ViewTransitions />
	</head>
	<body>
		<!-- Google Tag Manager (noscript) -->
		<noscript>
			<iframe
				src="https://www.googletagmanager.com/ns.html?id=GTM-KP36GT3H"
				height="0"
				width="0"
				style="display:none;visibility:hidden"></iframe>
		</noscript>
		<!-- End Google Tag Manager (noscript) -->

		<div id="wrapper">
			<div id="sns-link">
				<a class="twitter-link" href="https://twitter.com/Akime_Aki" target="_blank"></a>
				<a class="x-link" href="https://x.com/Akime_Aki" target="_blank"></a>
				<a class="github-link" href="https://github.com/AkimeAki/Coffee" target="_blank"></a>
			</div>
			<header>
				<a id="title-link" href="/"><h1 id="title">Aki ☕</h1></a>
			</header>
			<p id="description">AIが背景画像を生成するブログ</p>
			<slot />
		</div>
		<style is:global>
			@font-face {
				font-family: "GenJyuuGothicL";
				src: url(/GenJyuuGothicL-Light.ttf);
			}

			* {
				/* インターフェース */
				box-sizing: border-box;
				padding: 0;

				/* マージン・パディング */
				margin: 0;

				/* フォント */
				font-family: GenJyuuGothicL;
				font-size: 18px;
				line-height: 1.6;

				color: #777777;
			}

			*:focus {
				outline: none;
			}

			:root {
				background-color: white;
			}

			html,
			body {
				width: 100%;
				height: 100%;
				overflow: hidden;
			}

			#wrapper {
				width: 100%;
				height: 100svh;
				overflow-y: scroll;
			}

			ul,
			ol {
				padding-block-start: 0;
				padding-block-end: 0;
				padding-inline-start: 40px;
				margin-inline-start: 0;
				margin-inline-end: 0;
			}

			a {
				color: #1976d2;
			}

			p {
				margin-bottom: 10px;
			}

			p:last-of-type {
				margin-bottom: 0;
			}
		</style>

		<style lang="scss">
			#wrapper {
				position: relative;

				#sns-link {
					position: absolute;
					top: 20px;
					right: 20px;
					display: flex;
					gap: 20px;

					a {
						display: block;
						width: 20px;
						aspect-ratio: 1/1;
						mask-repeat: no-repeat;
						mask-position: center center;
						mask-size: contain;
					}

					.twitter-link {
						-webkit-mask: url("/icon/twitter.png") no-repeat center center / contain;
						mask-image: url("/icon/twitter.png");
						background-color: #1a90d9;
					}

					.github-link {
						-webkit-mask: url("/icon/github.png") no-repeat center center / contain;
						mask-image: url("/icon/github.png");
						background-color: #1a1e22;
					}

					.x-link {
						-webkit-mask: url("/icon/x.png") no-repeat center center / contain;
						mask-image: url("/icon/x.png");
						background-color: #000000;
					}
				}
			}

			#description {
				text-align: center;
				margin-top: 10px;
			}

			header {
				padding: 40px 0 0 0;
				max-width: 1200px;
				margin: 0 auto;
				text-align: center;

				#title-link {
					color: inherit;
					text-decoration: none;

					#title {
						display: inline-block;
						font-size: 25px;
						font-weight: 300;
					}
				}
			}
		</style>
	</body>
</html>
